.header {
    padding: 20px 0;
    color: #fff;
    // .header__container
    &__container {
    }

    // .header__inner

    &__inner {
        display: flex;
        align-items: center;
    }

    // .header__logo

    &__logo {
        width: 56px;
        height: 38px;
    }

    // .header__btns

    &__btns {
        display: flex;
        align-items: center;
        gap: 40px;
        @media (max-width: 991px){
            gap: 20px;
        }
    }

    // .header__btns-mob

    &__btns-mob {
        display: none;
    }
    .btn-contact{
        @media (max-width: 480px){
            display: none;
        }
    }
}
.btn-lang {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 9px;
    margin-right: 2.4vw;
}
