.subheader {
  overflow: unset;
  .subheader-bg {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 424px;
    height: clamp(120px, 34.2vw, 424px);
    position: relative;
  }

  .circle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .subheader-text {
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 2;

    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  h2.subheader-heading {
    opacity: 0;
    animation: 1.5s revealLeft ease-in-out forwards;
    font-family: var(--second-family);
    font-weight: 400;
    @include adaptiv-font(42,20);
    color: var(--tx);
  }
}