.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--background);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  @media (max-width: 768px){
    justify-content: center;
  }
  &.active{
    opacity: 1;
    visibility: visible;
    .modal__svg-left{
        transform: translateX(0px);
        opacity: 1;
    }
    .modal__svg-right{
        transform: translateX(0px);
        opacity: 1;
    }
  }

  .modal__form {
    position: relative;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(
      146.04% 65.43% at 51.06% 0.88%,
      rgb(32, 35, 44) 0%,
      rgb(14, 15, 18) 30.68905770778656%
    );
    padding: clamp(28px,3.8vw,48px);
    padding-top: clamp(28px,3vw,32px);
    border-radius: 16px;
    transition: .3s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
    @media (max-width: 768px){
      margin: 0 1.5vw;
    }
    &.active{
        opacity: 1;
        transform: translateY(0px);
    }
    &.sended{
      background: url(../img/success-form-bg.png)no-repeat center/cover;
      h3{
        display: none;
      }
      input{
        display: none;
      }
      label{
        display: none;
      }
      button{
        display: none;
      }
      .modal__form-feedback{
        display: block;
      }
    }
    h3 {
      font-weight: 700;
      color: var(--text);
      font-family: var(--second-family);
      @include adaptiv-font(25, 17);
      @include mb(14, 16);
    }
    label {
      font-family: var(--second-family);
      color: var(--text);
      width: 100%;
      @include mb(7, 8);
      @include adaptiv-font(16, 15);
    }
    input {
      width: 100%;
      border: 1px solid var(--border-2);
      border-radius: 8px;
      background: transparent;
      padding: 12px 16px;
      outline: none;
      color: var(--text);
      font-family: var(--second-family);
      @include mb(14,16);
      &:focus{
        border: 1px solid #49DE99;
      }
      &:last-of-type{
        @include mb(24,32);
      }
    }
  }

  .modal__form-close{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
    & > path {
      fill: #fff;
    }
  }

  .modal__form-feedback{
    text-align: center;
    display: none;
    h2{
      @include adaptiv-font(25,17);
      @include mb(14,16);
    }
    p{
      &:last-of-type{
        @include mb(22,52);
      }
    }
  }
  .modal__svg-left {
    position: relative;
    width: 40.6%;
    transform: translateX(-150px);
    opacity: 0;
    transition: .6s ease-in-out;
    @media (max-width: 768px){
      display: none;
    }
    .anim {
      width: 79.97%;
      position: absolute;
      bottom: 4px;
      left: 0;
    }
  }
  .modal__svg-right {
    position: relative;
    width: 40.6%;
    transform: translateX(150px);
    opacity: 0;
    transition: .6s ease-in-out;
    @media (max-width: 768px){
      display: none;
    }
    .anim {
      width: 101%;
      position: absolute;
      top: -14.9%;
      right: -28.1%;
    }
  }

  .error-message{
    text-align: center;
    display: none;
    margin-bottom: 10px;
    font-family: var(--second-family);
    color: #f93943;
    @include adaptiv-font(14,13);
  }

  .btn-common{
    width: 100%;
    justify-content: center;
    &::after{
        content: unset;
    }
  }
}
