.cta {
  @include pt(60, 120);
  @include pb(80, 140);
  position: relative;
  .wrap {
    @include width(1049, 1375);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
      width: 90%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    h2 {
      &._active {
        animation: 1s fadeInTop ease-in-out forwards;
      }
    }
    h2,
    p {
      @include mb(24, 40);
    }
    p {
      @include width(648, 1049);
      &._active {
        animation: 1s fadeInTop ease-in-out forwards;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  .btn-common {
    &._active {
      animation: 1s fadeInTop ease-in-out forwards;
    }
  }
  .cta-svg-left {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(0, -50%);
    &._active {
      animation: 1s revealLeft ease-in-out forwards;
    }
    @media (max-width: 768px) {
      left: 63%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .main {
      width: 559px;
      @media (max-width: 768px) {
        width: 807px;
      }
    }
    .anim {
      width: 79.97%;
      position: absolute;
      bottom: 4px;
      left: 0;
    }
  }
  .cta-svg-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
    &._active {
      animation: 1s revealRight ease-in-out forwards;
    }
    @media (max-width: 768px) {
      display: none;
    }
    .main {
      width: 558px;
    }
    .anim {
      width: 565px;
      position: absolute;
      top: -14.8%;
      right: -28.1%;
    }
  }
}
