.hero {
  @include pt(60, 130);
  @include pb(50, 100);
  min-height: calc(100vh - 92px);
  overflow: unset;
  @media (max-width: 992px){
    min-height: unset;
    padding-bottom: 38vw;
  }
  .container {
    position: relative;
  }
  .wrap {
    @include width(925, 1375);
    position: relative;
    z-index: 2;
    @media (max-width: 992px){
      width: 75%;
    }
     @media (max-width: 790px){
      width: 100%;
     }

    &._active {
      animation: 1.25s revealLeft ease-in-out forwards;
    }
    h1 {
      @include mb(20, 40);
      @include adaptiv-font(80,48);
      @media (max-width: 790px){
        font-size: 8.7vw;
      }
    }
    p {
      @include width(647, 925);
      @include mb(20, 40);
      @media (max-width: 768px){
        width: 100%;
      }
    }
  }
  .hero__anim {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    &._active {
      animation: 1.25s revealTopToBottom ease-in-out forwards;
      animation-delay: 1s;
    }
    @media (max-width: 768px){
      top: 10%;
    }
  }
  .hero__anim-main {
    @media (min-width: 1600px) {
      width: 807px;
    }
    @media (max-width: 1600px) {
      width: 50.6vw;
    }
    @media (max-width: 992px){
      width: 64.8vw;
    }
    @media (max-width: 768px){
      width: 100vw;
    }
  }
  .hero-svg-small {
    position: absolute;
    top: 0;
    left: 0;
    stroke: #3891d6;
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  #selector1 {
    stroke: #3891D6;
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  .hero__anim-small-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 44%;
  }
  .hero__anim-small-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 36.3%;
  }
}


