.integrations {
  @include pt(30, 60);
  @include pb(30, 60);
  .container {
    overflow: unset;
  }
  .integrations__top{
    display: flex;
    justify-content: space-between;
    @include mb(30, 56);
    gap: 20px;
  }
  .integrations__arrows{
    display: flex;
    align-self: flex-end;
    img{
      width: 35px;
      height: 35px;
      flex-shrink: 0;
      cursor: pointer;
      &:last-of-type{
        transform: rotate(180deg);
      }
    }
  }
  h2 {
    @include width(776, 1375);
    @include adaptiv-font(64, 24);
    @media (max-width: 767px){
      width: 75%;
    }
    @media (max-width: 480px){
      width: 100%;
    }
  }
  .swiper {
    overflow: unset;
  }
  .swiper-slide {
    padding: 50px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: auto;
    flex-shrink: 0;
    @media (max-width: 576px){
      padding: 40px 30px;
    }
    & > div {
      position: relative;
      z-index: 2;
    }
    h4 {
      @include mb(60, 120);
      font-family: var(--font-family);
      font-weight: 700;
      @include adaptiv-font(25, 17);
      color: var(--text);
      transition: 0.3s ease-in-out;
    }
    p {
      transition: 0.3s ease-in-out;
    }
    &::before {
      content: "";
      display: block;
      width: 99%;
      height: 99%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background: var(--background);
      transition: 0.3s ease-in-out;
      border-radius: 5px;
    }
    &::after {
      content: "";
      display: block;
      width: 9vw;
      height: 9vw;
      position: absolute;
      top: 32%;
      left: 10px;
      z-index: 1;
      border-radius: 50%;
      filter: blur(41px);
      opacity: 0.4;
    }

    &:hover {
      box-shadow: 1px 0 54px 0 rgba(0, 215, 33, 0.2);
      &:first-of-type {
        .swiper-slide-icon {
          background: url(../img/home/integrations-icon-1-active.svg) no-repeat
            center/contain;
        }
      }
      &:nth-of-type(2) {
        .swiper-slide-icon {
          background: url(../img/home/integrations-icon-2-active.svg) no-repeat
            center/contain;
        }
      }
      &:nth-of-type(3) {
        .swiper-slide-icon {
          background: url(../img/home/integrations-icon-3-active.svg) no-repeat
            center/contain;
        }
      }
      &:nth-of-type(4) {
        .swiper-slide-icon {
          background: url(../img/home/integrations-icon-4-active.svg) no-repeat
            center/contain;
        }
      }
      &:last-of-type {
        .swiper-slide-icon {
          background: url(../img/home/integrations-icon-5-active.svg) no-repeat
            center/contain;
        }
      }
      &::before {
        opacity: 0;
      }
      h4,
      p {
        color: var(--background);
      }
    }

    &:first-of-type {
      background: linear-gradient(140deg, #54b9d3 0%, #49de99 100%);
      &::after {
        background: linear-gradient(140deg, #54b9d3 0%, #49de99 100%);
      }
      .swiper-slide-icon {
        background: url(../img/home/integrations-icon-1.svg) no-repeat
          center/contain;
      }
    }
    &:nth-of-type(2) {
      background: linear-gradient(136deg, #e94530 0%, #efb806 100%);
      &::after {
        background: linear-gradient(136deg, #e94530 0%, #efb806 100%);
      }
      .swiper-slide-icon {
        background: url(../img/home/integrations-icon-2.svg) no-repeat
          center/contain;
      }
    }
    &:nth-of-type(3) {
      background: linear-gradient(145deg, #cb85fb 0%, #eb71aa 100%);
      &::after {
        background: linear-gradient(145deg, #cb85fb 0%, #eb71aa 100%);
      }
      .swiper-slide-icon {
        background: url(../img/home/integrations-icon-3.svg) no-repeat
          center/contain;
      }
    }
    &:nth-of-type(4) {
      background: linear-gradient(144deg, #3891d6 0%, #04d2e3 100%);
      &::after {
        background: linear-gradient(144deg, #3891d6 0%, #04d2e3 100%);
      }
      .swiper-slide-icon {
        background: url(../img/home/integrations-icon-4.svg) no-repeat
          center/contain;
      }
    }
    &:last-of-type {
      background: linear-gradient(140deg, #9a4ee4 0%, #4055dd 100%);
      &::after {
        background: linear-gradient(140deg, #9a4ee4 0%, #4055dd 100%);
      }
      .swiper-slide-icon {
        background: url(../img/home/integrations-icon-5.svg) no-repeat
          center/contain;
      }
    }
  }

  .swiper-slide-icon {
    transition: 0.3s ease-out;
    width: 70px;
    height: 70px;
    @include mb(30, 60);
    position: relative;
  }
}
