.mobile {
    @include pt(30,60);
    @include pb(30,60);
    .switcher {
      @include mt(30,67);
      cursor: pointer;
      margin-left: auto;
      margin-right: 35px;
      width: 88px;
      height: 46px;
      border-radius: 28px;
      border: 1px solid #e94530;
      padding: 7px;
      position: relative;
      transition: .3s ease-in-out;
      @media (max-width: 992px){
        margin-top: 0;
      }
      @media (max-width: 576px){
        margin-left: 0;
      }
      &.light {
        border: 1px solid #3891d6;
        .switcher__elem{
          left: 53%;
          background: linear-gradient(144deg, #3891d6 0%, #04d2e3 100%);
        }
        &:after{
          border: 1px solid #3891d6;
        }
      }
  
      &:after {
        border: 1px solid #e94530;
        animation: pulse 2s ease-out infinite;
        border-radius: 28px;
        content: "";
        left: calc(50% - (88px / 2));
        position: absolute;
        top: calc(50% - (46px / 2));
        width: 100%;
        height: 100%;
        transform-origin: center center;
      }
      .switcher__elem{
        background: linear-gradient(180deg, #e94530 0%, #efb806 100%);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: all .3s ease-in;
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translate(0%,-50%);
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  
    &.light {
      .wrap{
        background-color: #fff;
      }
      .mobile__info {
        h4{
          color: #27133f;
        }
      }
      .light-img{
        display: block;
      }
      .dark-img{
        display: none;
      }
    }
  
    .light-img{
      display: none;
    }
    .dark-img{
      display: block;
    }
  
    .wrap {
      display: flex;
      border: 1px solid var(--border);
      border-radius: 5px;
      padding: 50px 0 0 50px;
      transition: .3s ease-in;
      background-color: var(--background);
      overflow:hidden;
      position: relative;
      @media (max-width: 992px){
        flex-wrap: wrap;
      }
      @media (max-width: 576px){
        padding: 40px 0 0 25px;
      }
    }
  
    .mobile__info {
      @media (max-width: 992px){
        width: 100%;  
        display: flex;
        margin-bottom: 15px;
      }
      @media (max-width: 576px){
        flex-direction: column;
        gap: 24px;
      }
    }
    .mobile__info-block{
      @media (max-width: 992px){
        width: 56%;
      }
      @media (max-width: 576px){
        width: 100%;
        padding-right: 6vw;
      }
    }
  
    // .mobile__phone
  
    &__phone {
      @include width(284,1375);
      height: fit-content;
      align-self: flex-end;
       @media (max-width: 992px){
        width: 47.654545%;
      }
      @media (max-width: 576px){
          position: absolute;
          bottom: -12%;
          left: 0;
          width: 56%;
      }
    }
  
    // .mobile__tablet
  
    &__tablet {
      @include width(654,1375);
      height: fit-content;
      margin-left: auto;
      align-self: flex-end;
      @include mb(30,46);
      @media (max-width: 992px){
        width: 51%;
        margin-bottom: 0;
      }
      @media (max-width: 576px){
        width: 77%;
      }
    }
  }