.docs {
    padding: 160px 0;
    @media (max-width: 991.98px) {
      padding: 70px 0;
    }
    .tabs {
        display: flex;
        justify-content: space-between;
        @media (max-width: 991.98px) {
          flex-direction: column;
          align-items: center;
      }
    }
  
    .tabs__nav {
      height: fit-content;
      overflow: hidden;
      width: 350px;
      flex-shrink: 0;
      background: rgba(12, 24, 34, 0.5);
      border: 1px solid #122331;
      padding: 40px;
      padding-bottom: 78px;
      border-radius: 20px;
      @media (max-width: 991.98px) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;
        padding-bottom: 10px;
    }
    @media (max-width: 575.98px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
    }
    .tabs__content{
        width: 872 / 1320 * 100%;
        padding-top: 20px;
        @media (max-width: 991.98px) {
          width: 100%;
      }
    }
    .tabs-nav__item {
      width: 100%;
      cursor: pointer;
      margin-bottom: 40px;
      font-family: var(--second-family);
      font-weight: 400;
      @include adaptiv-font(26,17);
      color: var(--tx-02);
      &.is-active {
        color: var(--accent);
      }
      &:not(.is-active) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  
    .tabs-nav__item .tabs__content {
      position: relative;
    }
  
    .tab {
      display: none;
      font-size: clamp(14px, 1.25vw, 18px);
      font-weight: 400;
      line-height: clamp(18px, 1.5vw, 22px);
      
      p {
        margin-bottom: 16px;
      }
      &.is-active {
        display: block;
      }
    }
  
    .tab__title {
      margin-bottom: 24px;
      font-family: var(--second-family);
      font-weight: 400;
      @include adaptiv-font(42,23);
      color: var(--tx);
      margin-top: 70px;
      &:first-of-type{
        margin-top: 0;
      }
    }
}
  
    

  

