.services {
  @include pt(30, 60);
  @include pb(30, 60);
  .wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: 1200px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    transition: 0.3s ease-in-out;
    border: 1px solid var(--border);
    background: url(../img/home/services__item-bg.jpg) no-repeat center/cover;
    padding: clamp(22px, 3.7vw, 42px);
    svg {
      @include mb(30, 80);
      width: 90px;
      height: 90px;
      flex-shrink: 0;
      overflow: unset;
    }
    h4 {
      @include mb(14, 20);
      font-family: var(--second-family);
      font-weight: 700;
      @include adaptiv-font(25, 17);
      color: var(--text);
    }
    p {
      @include adaptiv-font(16, 15);
    }

    .elem {
      transition: 0.3s ease-in-out;
    }

    &:first-of-type {
      .elem {
        opacity: 0;
        transform: translateX(-17px) translateY(-17px) scale(0.3);
      }
    }
    &:nth-of-type(2) {
      .elem {
        opacity: 0;
      }
    }
    &:nth-of-type(3) {
      .elem {
        path {
          fill-opacity: 0.3;
          transition: 0.3s ease-in-out;
        }
      }
    }
    &:last-of-type {
      .elem {
        opacity: 0.3;
      }
    }

    &:hover {
      background: url(../img/home/services__item-bg-active.jpg) no-repeat
        center/cover;
      &:first-of-type {
        .elem {
          opacity: 1;
          transform: translateX(0px) translateY(0px) scale(1);
        }
      }
      &:nth-of-type(2) {
        .elem {
          opacity: 1;
        }
      }
      &:nth-of-type(3) {
        .elem {
          opacity: 1;
          path {
            fill-opacity: 1;
          }
        }
      }
      &:last-of-type {
        .elem {
          opacity: 1;
        }
      }
    }
  }
}