@import "typography/_animate_keyframes.scss";

body {
  background: var(--background);
  scroll-behavior: smooth;
}

section {
  overflow: hidden;
}

.content {
  
}

html {
  scroll-behavior: smooth;
}

:root {
	--background: #0f050e;
	--text: #fff;
	--primary: #3891d6;
	--secondary: #04d2e3;
	--border: #1a191c;
	--background-light: #11111c;
	--text-dark: #898989;
	--blue-srm: #1d7dbb;
	--border-2: #394251;
	--border-platforma: #182133;
	--text-plat: #93a8c9;
	--green-srm: #1bb092;
	--text-dark: #898989;
	--gold: #ffbc22;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Play", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Krub", sans-serif;
}


// ==============================================================

html {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}


// Container size  ========================================================


.container {
  max-width: 1400px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 768px){
    padding-left: 6.5vw;
    padding-right: 6.5vw;
  }
}



/// Custom classes ===========================

